/* google font cdn */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* common style  */
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.primary-color{
    color: #FD6E0A;
}
.text-center{
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

/* header style start here  */

/* header style end here  */


/* nav style start here  */
.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 200px;
}
.nav-title{
    font-size: 2rem;
}

.nav-menu{
    
}
.nav-menu ul{
    display: flex;
    align-items: center;
    gap: 45px;

}
.nav-menu  li{
    list-style-type: none;
}
.primary-btn{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
}
/* nav style end here  */


/* banner style here  */
.banner{
    display: flex;
    align-items: center;
    margin: 25px 200px;
}
.banner-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.banner-title{
    font-weight: 600;
    font-size: 45px;
}
.banner-sub-title{
    
}
.banner-dec{
    color:#757575;
}
.primary-btn{
    align-self: start;
}
/* banner end here  */

/* main start here  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* main end here  */



/* main start here  */
.about{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    background-color: #FFF8F3;
    border-radius: 5px;
    padding: 100px;
}
.section-title{
    font-weight: 700;
    font-size: 35px;
}
.section-dec{
    color: #757575;
    font-size: 18px;
}

.about-info{
    margin-top: 35px;
    display: flex;
    justify-content: space-around;

}
.about-info-col{

}
.about-info-col-name{
    color: #757575;
}
.about-info-col-dec{
    font-weight: bold;
    font-size: 15px;
}


/* skill section start here */
.skill-section{
    margin: 120px 0;
}
.skill-section-top{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}
.skill-section-title{
    font-size: 2.3rem;
    font-weight: bold;
}
.skill-section-dec{
    color: #757575;
}

.skill-section-bottom{
    margin-top: 50px;
    display: flex;
    gap: 25px;
}
.skill-section-bottom-card{
    box-shadow: 5px 10px 8px #888888;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px 15px;
    border-radius: 8px;
}
.skill-section-bottom-card img{
    width: 40px;
}
.skill-section-bottom-card .card-title{
    font-weight: bold;
    font-size: 1.1rem;
}
.skill-section-bottom-card .cart-dec{
    color: #757575;
    line-height: 26px;
}

/* skill section end here */


/* summary start here  */
.summary-head{
    text-align: center;
    font-weight: bold;
    font-size: 2.1rem;
}
.summary{
    display: flex;
    gap: 15px;
    margin:40px 0 65px 0;
}
.summary-col{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.summary-col-head-title{
    font-weight: bold;
    font-size: 1.4rem;
}
.summary-col-title{
    font-size: 1rem;
    font-weight: 500;
}
.summary-col-sub-title{
    font-size: 0.9rem;
}
.summary-col-dec{
    font-size: 0.8rem;
    color: #757575;
}
.section-summary button{
    margin: 0 auto;
}
.resume-btn{
    margin-bottom: 80px;
}
/* summary end here  */
/* main end here  */